<div id="experiences" class="w-3/4 md:w-2/3 text-justify p-3 flex flex-col gap-3 rounded-lg dark:bg-gray-800 my-4 mx-auto">
    <h1 class="text-xl font-semibold">Experience</h1>
    <div *ngFor="let item of experiences">
        <h2 class="text-lg font-semibold text-green-500">{{ item.entreprise }} <span class="text-gray-200/50 font-medium">- {{ item.date }}</span></h2>
        <p>{{ item.description }}</p>
        <p><span class="font-bold text-red-500">Stack</span>: {{ item.stack }}</p>
    </div>
</div>